[mysqld]
# Spécifie l'encodage à utiliser
collation-server=utf8_general_ci
character-set-server=utf8
# Précise le type de connexion à la BDD par défaut
default-authentication-plugin=mysql_native_password
innodb_buffer_pool_size=2G
# Configuration du moteur par défaut
default_storage_engine=INNODB
